WebScrapper/oracle_data/*
WebScrapper/indicators_data/*
WebScrapper/test_supabase
WebScrapper/DataLoader/.env
WebScrapper/Selenium.ipynb
WebScrapper/BeautifulSoup.py
WebScrapper/DataLoader/__pycache__/*
WebScrapper/DataExtractor/__pycache__/*
WebScrapper/test_supabase.py
WebScrapper/BeautifulSoup.py
WebScrapper/Selenium.ipynb
